<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p  class="title", style="text-decoration: no-underline"><%= link_to "Sign Up", new_user_path, class:"title" %></p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Connect with other</p>
          <p class="subtitle"><%= link_to "Banh Beos", users_path, class:"title" %></p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="subtitle"><%= link_to "Share your moments", guest_show_path, class:"title" %></p>
          <figure class="image is-4by3", style="width: 100%">
            <img src="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/content-hub/real-weddings/dubai/Small-bride-and-groom-dancing-139.png?$LargeViewport42pct$">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Create your own style page</p>
        <figure class="image is-4by3", style="width: 80%">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/d1/6f/a3/d16fa3930177b50c26eb58239a432d29.jpg">
        </figure>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="subtitle"><%= link_to "Write your own story", guest_show_path, class:"title" %></p>
        <figure class="image is-4by3", style="width: 80%">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/9b/67/4d/9b674d25f00ddd464910a01692ba2201.jpg">
        </figure>
        <figure class="image is-4by3", style="width: 80%">
          <img src="https://68.media.tumblr.com/f56566459f9915e72cb62be0dd54eae1/tumblr_nwfw0w1Co41re1tv6o1_500.jpg">
        </figure>
        <figure class="image is-4by3", style="width: 80%">
          <img src="https://s11.favim.com/orig/160623/adventure-beach-girl-goals-Favim.com-4442681.jpeg">
        </figure>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
