
<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Banhbeobook</strong>
    </a>
    <div class="navbar-start">
      <%= link_to "Sign Up", users_path, class:"navbar-item" %>
      <%= link_to "Login", login_path, class:"navbar-item" %>
      <%= link_to "Logout", logout_path, class:"navbar-item" %>  
    <div>
  </div>
</nav>

