
<h1>Welcome to <strong>Guest</strong> page<h1>
<br><br>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          Hello, my name is Banh Beo Potential
          <figure class="image is-4by3", style="width: 80%">
            <img src="https://s-media-cache-ak0.pinimg.com/736x/b4/90/11/b490113b6652e539173ce73d49f90801--tabby-kittens-cat-illustrations.jpg" alt="Image">
          </figure>
        </article>
        <article class="tile is-child box">
          <figure class="image is-4by3", style="width: 100%">
            <img src="http://starsignstyle.com/wp-content/uploads/2013/03/libra-glyph-351x350.jpg" alt="Image">
          </figure>
          Libra (♎) is the seventh astrological sign in the Zodiac. It spans the 180–210th degree of the zodiac, between 180 and 207.25 degree of celestial longitude. Under the tropical zodiac, Sun transits this area on average between (northern autumnal equinox) September 23 and October 22, and under the sidereal zodiac, the sun currently transits the constellation of Libra from approximately October 16 to November 17.[2][3] The symbol of the scales is based on the Scales of Justice held by Themis, the Greek personification of divine law and custom.[4] She became the inspiration for modern depictions of Lady Justice. The ruling planet of Libra is Venus.[5][6] Libra is the only zodiac constellation in the sky represented by an inanimate object. The other eleven signs are represented either as an animal or mythological characters throughout history.[7]
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <strong>CoderSchool</strong>
          <br>
          <figure class="image is-4by3", style="width: 100%">
            <img src="http://www.coderschool.vn/assets/RubySwiftAndroidReactNative-0a2bfeb47a3848086a2161b79a3bd8934db958739a4a7a740cd4577c517ceeb2.png" alt="Image">
          </figure>
          <br>
          <strong>Business Model</strong>
           <br>We focus on our training quality and your success after the course. We can only be successful if you are successful.

            <br>Our part-time classes have attracted many talents and changed many lives. We are working to launch a paid full-time bootcamp soon.

            <br>CoderSchool is well-known and recognized in Vietnam and the region. We continue to partner with top tech companies to meet with you.
            <br>We help you with your online portfolio and how to best represent yourself online, such as LinkedIn and GitHub.
            <br>Through our classes, you will develop the skills needed and build impressive projects. We encourage using and contributing to Open Source Software.
            <br>If you already love your job, we are happy to work with your company to make it free for you to join. Just let us know!
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-4by3", style="width: 100%">
          <img src="http://1.media.dorkly.cvcdn.com/94/75/f9f7c1c923482573f20e68247ecc8d7a.jpg" alt="Image">
        </figure>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <strong>I See the Light</strong>
      <br>Alan Menken, Glenn Slater
      <figure class="image is-4by3", style="width: 100%">
        <img src="https://static.tumblr.com/2017707c51cf5a658ee43433f61fae0e/yg5cxfi/y8No5wmsc/tumblr_static_tumblr_static_8ffevjkw6zggk4808o40o4s0k_640.jpg" alt="Image">
      </figure>
      <br>All those days watching from the windows
      <br>All those years outside looking in
      <br>All that time never even knowing
      <br>Just how blind I've been
      <br>Now I'm here blinking in the starlight
      <br>Now I'm here suddenly I see
      <br>Standing here it's all so clear
      <br>I'm where I'm meant to be
      <br>And at last I see the light
      <br>And it's like the fog has lifted
      <br>And at last I see the light
      <br>And it's like the sky is new
      <br>And it's warm and real and bright
      <br>And the world has somehow shifted
      <br>All at once everything looks different
      <br>Now that I see you
      <br>All those days chasing down a daydream
      <br>All those years living in a blur
      <br>All that time never truly seeing
      <br>Things, the way they were
      <br>Now she's here shining in the starlight
      <br>Now she's here suddenly I know
      <br>If she's here it's crystal clear
      <br>I'm where I'm meant to go
      <br>And at last I see the light
      <br>And it's like the fog has lifted
      <br>And at last I see the light
      <br>And it's like the sky is new
      <br>And it's warm and real and bright
      <br>And the world has somehow shifted
      <br>All at once everything is different
      <br>Now that I see you
      <br>Now that I see you
      <br>Songwriters: Alan Menken / Glenn Evan Slater
      <br>I See the Light lyrics © Walt Disney Music Company
    </article>
  </div>
</div>

